* {
    margin: 0;
    padding: 0;
}

a,
a:active,
a:visited {
    color: inherit;
}

body {
    padding: 25px;
    padding-top: 9px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

[template] {
    display: none;
}

input,
select {
    font-size: 1em;
}

table,
tr,
td {
    font-size: inherit;
}

table {
    margin: 8px 0;
}

td {
    padding: 8px;
    padding-left: 0;
}

button {
    display: block;
    height: 40px;
    font-size: inherit;
    padding: 8px 12px;
    margin-right: 24px;
    margin-top: 16px;
}

h2,
p,
iframe {
    margin-top: 16px;
}

iframe {
    display: inline-block;
    height: 0;
    width: calc(50% - 12px);
}

.pdf {
    width: calc(50% - 42px);
    height: 100px;
    float: right;
    border-radius: 0;
    border: 1px solid darkred;
}

.upgrade {
    a {
        color: darkorange;
    }
}

div {
    border: 2px solid darkslategrey;
    padding: 16px;
    padding-top: 0;
    margin: 16px 0;
    border-radius: 8px;
}

.terminal {
    border: 1px solid darkslategrey;
}

.info {
    background-color: lightskyblue;
    border: 2px solid darkcyan;
    padding: 22px;
}

details {
    border-radius: 8px;
    border: 1px solid darkslategrey;
    padding: 12px;

    pre {
        font-size: smaller;
        white-space: pre-wrap;
        word-break: break-word;
        overflow-wrap: anywhere;
    }
}

details[open]>summary {
    border-bottom: 1px solid darkslategrey;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

p>span,
td:nth-child(2) {
    color: darkgreen;
}

spinner {
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-2px);
    width: 24px;
    aspect-ratio: 1;
    margin-left: 12px;
    background-image: url('spinner.gif');
}

.upgradeoverlay {
    display: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: rgba(64, 128, 255, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: none;

    &::before {
        content: 'Upgrade in progress, please wait...';
        display: block;
        font-size: xx-large;
        font-weight: bolder;
    }

    .loader {
        margin: 48px;
        width: 128px;
        height: 128px;
        border: 10px solid darkblue;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 108px;
        height: 108px;
        border-radius: 50%;
        border: 10px solid;
        border-color: #FF3D00 transparent;
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}