* {
    margin: 0;
    padding: 0;
}

body {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

input,
select {
    font-size: 1em;
}

h2,
p {
    margin-bottom: 18px;
}

p>span {
    color: darkgreen;
}

.info {
    background-color: lightskyblue;
    border: 2px solid darkcyan;
    padding: 22px;
}

div {
    border: 2px solid darkslategrey;
    padding: 12px;
    margin: 16px 0;
    border-radius: 8px;
}

.upgradeverlay {
    display: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: rgba(64, 128, 255, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: none;

    &::before {
        content: 'Upgrade in progress, please wait...';
        display: block;
        font-size: xx-large;
        font-weight: bolder;
    }
}