* {
    margin: 0;
    padding: 0;
}

body {
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-style: normal;
}

input,
select {
    font-size: 1em;
}

h2,
p {
    margin-bottom: 18px;
}

p>span {
    color: darkgreen;
}

.info {
    background-color: lightskyblue;
    border: 2px solid darkcyan;
    padding: 22px;
}

div {
    border: 2px solid darkslategrey;
    padding: 12px;
    margin: 16px 0;
    border-radius: 8px;
}

.upgradeoverlay {
    display: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: rgba(64, 128, 255, 0.5);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    border: none;

    &::before {
        content: 'Upgrade in progress, please wait...';
        display: block;
        font-size: xx-large;
        font-weight: bolder;
    }

    .loader {
        margin: 48px;
        width: 128px;
        height: 128px;
        border: 10px solid darkslategrey;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 10px solid;
        border-color: #FF3D00 transparent;
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}